#### Question 1: If Statements


Write an if statement to compare two variables, a and b. If b is greater than a, print a message saying "b is greater than a".

In [3]:
a = 23
b = 30

if b > a:
    print("b is greater than a")

b is greater than a

#### Question 2: If-Else Statements


Write an if-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". Otherwise, print "a and b are equaya"} and a list ["kiwi", "orange"]. Print the updated set.

In [5]:
a = 34
b = 34
new_list = ["kiwi", "orange"]
if b>a:
    print("b is greater than a")
else:
    print("a is equal to b")
    print(new_list)

a is equal to b
['kiwi', 'orange']

#### Question 3: If-Elif-Else Statements
Write an if-elif-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". If a and b are equal, print "a and b are equal". Otherwise, print "a is greater than b".

In [7]:
a = 45
b = 45

if b>a:
    print("b is greater than a")
elif b == a:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal

#### Question 4: Create and Access Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Access and print the second element of the tuple.

In [11]:
tup1 = ("apple", "banana", "cherry")
print(tup1[1])

banana

#### Question 5: Tuple with One Item
Create a tuple with a single item "apple". Print the type of the tuple to confirm it's a tuple.

In [13]:
tup2 = ("apple",)
print(type(tup2))

<class 'tuple'>

#### Question 6: Check if Item Exists in Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Check if the item "apple" exists in the tuple and print the result.

In [15]:
tup3 = ("apple", "banana", "cherry")
if "apple" in tup3:
    print("Apple is in the tuple")

Apple is in the tuple

#### Question 7: Convert Tuple to List and Modify
Convert a tuple ("apple", "banana", "cherry") to a list. Change the second item to "kiwi" and convert it back to a tuple. Print the modified tuple.

In [17]:
tup_to_list = list(tup3)
tup_to_list.append("kiwi")
list_to_tup = tuple(tup_to_list)
print(list_to_tup)

('apple', 'banana', 'cherry', 'kiwi')

#### Question 8: Add and Remove Items from Set
Create a set with the elements {"apple", "banana", "cherry"}. Add "orange" to the set and remove "banana". Print the modified set.

In [19]:
set1 = {"apple", "banana", "cherry"}
set1.add("orange")
set1.remove("banana")
print(set1)

{'orange', 'cherry', 'apple'}

#### Question 9: Loop Through Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Use a for loop to print each item in the tuple.

In [21]:
tup3

('apple', 'banana', 'cherry')

In [23]:
for item in tup3:
    print(item)

apple
banana
cherry

#### Question 10:
Create a set with the elements {"apple", "banana", "cherry"}. Update it with another set {"pineapple", "mango", "papaya"} and a list ["kiwi", "orange"]. Print the updated set.

In [27]:
set1 = {"apple", "banana", "cherry"}
set1.add(set("pineapple", "mango", "papaya"))
set1.add(["kiwi", "orange"])
print(set1)

TypeError: set expected at most 1 argument, got 3