#### 1) demonstrate the use of the following arithmetic operators in Python on any numbers:### 

Addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor Division.

In [5]:
num1  = 40
num2 = 5

In [11]:
#### Addition
final_sum = num1 + num2
#### Subtraction
final_sub = num1 - num2
#### Multiplication
final_mul = num1 * num2
#### Division
final_div = num1 / num2
#### Modulus
final_mod = num1 % num2
#### Exponential
final_expo = num1 ** num2
#### Floor Divison
final_floor = num1 // num2

In [13]:
print(f'{num1} + {num2} = {final_sum}')
print(f'{num1} - {num2} = {final_sub}')
print(f'{num1} * {num2} = {final_mul}')
print(f'{num1} / {num2} = {final_div}')
print(f'{num1} % {num2} = {final_mod}')
print(f'{num1} ** {num2} = {final_expo}')
print(f'{num1} // {num2} = {final_floor}')

40 + 5 = 45
40 - 5 = 35
40 * 5 = 200
40 / 5 = 8.0
40 % 5 = 0
40 ** 5 = 102400000
40 // 5 = 8

#### 2) Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) and evaluate them. Include examples with both numbers and strings.

In [16]:
print(num1>num2)
print(num1<num2)
print(num1==num2)
print(num1!=num2)

True
False
False
True

In [18]:
print('a'=='A')
print('s' != 'S')

False
True

#### 3) Create a string variable and use the ' in ' and ' not in ' keywords to check for the presence or absence of a substring within the string EX : " Python Is Powerfull language". & Print the results.

In [21]:
s = "Python Is Powerfull language"

print('Python' in s)
print('powerfull' not in s)

True
True

#### 4) Define a list with at least three elements. Use a for loop to print each element of the list.

In [24]:
list1 = [4,7,10]

for i in list1:
    print(i)

4
7
10

#### 5) Use the range() function to print numbers from 10 to 1 using a for loop.

In [35]:
for i in range(10,0,-1):
    print(i, end=',')

10,9,8,7,6,5,4,3,2,1,

#### 6) Create a string variable and demonstrate the following string methods: slicing, negative indexing, converting to uppercase converting to lowercase, stripping whitespace, replacing a substring, and splitting the string.

In [38]:
new_str = "Hello Abhilash"
print(new_str[3:9])
print(new_str[-1:-8])
print(new_str.upper())
print(new_str.strip())
print(new_str.replace("Abhilash", 'Harshika'))
print(new_str.split(' '))

lo Abh

HELLO ABHILASH
Hello Abhilash
Hello Harshika
['Hello', 'Abhilash']

#### 7) Create a list inside list with at least five elements of different data types. Print the list.

In [46]:
nested_list = [1,False,3.5,['A','B','C'],True,'Ram', 2, "Shyam", 5, 6.7]
print(nested_list)

[1, False, 3.5, ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 5, 6.7]

#### 8) Access and print same item from the list using both positive and negative indexing.

In [56]:
print(nested_list[1:6])
print(nested_list[:9])
print(nested_list[-4:-1])

[False, 3.5, ['A', 'B', 'C'], True, 'Ram']
[1, False, 3.5, ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 5]
[2, 'Shyam', 5]

#### 9) Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

In [58]:
nested_list.append(9)
print(nested_list)
nested_list.insert(3, "HELLO")
print(nested_list)
nested_list.remove(5)
print(nested_list)
nested_list.pop()
print(nested_list)
del nested_list
print(nested_list)

[1, False, 3.5, ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 5, 6.7, 9]
[1, False, 3.5, 'HELLO', ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 5, 6.7, 9]
[1, False, 3.5, 'HELLO', ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 6.7, 9]
[1, False, 3.5, 'HELLO', ['A', 'B', 'C'], True, 'Ram', 2, 'Shyam', 6.7]

NameError: name 'nested_list' is not defined

#### 10) Join two lists and print the all item using for loop and also check is "data" present in list using "if else" statement. list_1 = [ 1,2,3,4,"power", True] and list_2= ["one", "two","Three", "Data", False]

In [62]:
list_1 = [1,2,3,4,"power", True] 
list_2= ["one", "two","Three", "Data", False]
new_list = list_1 + list_2
for i in new_list:
    print(i, end=", ")

if 'three' not in new_list:
    print("False")
else:
    print("True")

1, 2, 3, 4, power, True, one, two, Three, Data, False, False